
    <form [formGroup]="taskForm" class="input-group mb-3">
        <input type="text" 
            class="form-control"
            formControlName="taskTitle" matInput 
            placeholder="Input your todo" 
            aria-label="Recipient's username"
            aria-describedby="basic-addon2"
            (keyup.enter)="addItem($event);">
        <div class="input-group-append">
            <span class="input-group-text add-btn" id="basic-addon2">
                <i class="fa-solid fa-circle-plus p-1" (click)="addItem($event)"></i>
            </span>
        </div>
    </form>